body{
    color: #e6e6e6;
     background: url(https://downloadscdn6.magnific.com/1048/10/9878.jpg?filename=3d-surreal-mars-style-landscape.jpg&token=exp=1778082461~hmac=1758c94359f3a4222cc5250a9e95c722&filename=9878.jpg) no-repeat center center/cover;
  
}

   
    

header h1{
    text-align: center;
    color: #661a00;
    font-size: 52px;
    font-family: Courier;
}



a{
  font-family: "Dosis", sans-serif;
}
a {
  width: 150px;
  height: 60px;
  border-radius: 10px;
  background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
  box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
  cursor: pointer;
  font-size: 26px;
  color: white;
  text-decoration: none;

}

a:hover {
  transition: all 0.3s ease-in-out;
  transform: translateY(3px);
  box-shadow: none;
}

a:active {
  opacity: 0.5;
}

   
a{
    margin: 10px;
    transition: all 0.3s ease-in-out;
    
    
}
img{

    border:  4px inset #ff6550;;
    border-radius: 20px;
    margin-top: 20px;
    
}
ul li{
    margin: 0 15px;
    font-size: 24px;
    
}
p{
  font-size: 22px;
}
h2{
    font-size: 26px;
    color: #ff6550;
    
}
